<template>
  <div class="dialog">
    <avatar></avatar>
    <div class="context">
      <h3 class="chat-title" dir="auto" :title="content.subject">{{ content.subject }}</h3>
      <div class="message">
        <span class="name">{{ content.lastMessage ? content.lastMessage.senderName + ':' : '  ' }}</span>
        <span class="message-context" dir="auto"
              :title="content.lastMessage ? content.lastMessage.content : ''">
					{{ content.lastMessage ? content.lastMessage.content : '' }}
				</span>
      </div>
    </div>
    <div class="side-wrapper">
      <span class="date">{{ content.lastUpdate | formatTime }}</span>
      <div v-if="content.unreadMessage" class="badge">{{ content.unreadMessage }}</div>
    </div>

  </div>
</template>

<script>
import Avatar from '@/components/general/avatar'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'chatItem',
  components: {Avatar},
  props: {
    content: Object,
  },
  data() {
    return {
      firstOptionAction: ''
    }
  },
  filters: {
    formatTime(value) {
      let hours, minutes, date
      let current = new Date()
      date = new Date(value)

      let diffTime = Math.abs(current - date)
      let diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24))
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      var DaysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

      if (diffDays < 1) {
        hours = Number(date.getHours()) < 10 ? ('0' + Number(date.getHours())) : Number(date.getHours())
        minutes = Number(date.getMinutes()) < 10 ? ('0' + Number(date.getMinutes())) : Number(date.getMinutes())
        if (date.getDate() === current.getDate()) { // today
          return hours + ':' + minutes
        } else { //yesterday
          return DaysOfWeek[date.getDay()]
        }
      } else if (diffDays === 1) {
        return DaysOfWeek[date.getDay()]
      } else if (diffDays > 1 && diffDays <= 7 && current.getDate() - date.getDate() <= 7) {
        return DaysOfWeek[date.getDay()]
      } else if (diffDays > 7 && diffDays < 365) {
        return months[date.getMonth()] + ' ' + date.getDate()
      } else {
        return date.getFullYear() + '.' + (date.getMonth() + 1) + '.' + date.getDate()
      }
    }
  },
  methods: {

  },
  computed: {
    ...mapGetters({

    }),
  }
}
</script>

<style scoped>

.dialog {
  padding: 10px 15px;
  border-bottom: 1px solid var(--bg-color-secondary2);
  display: flex;
}

:deep(.avatar) {
  font-size: 25px;
}

.context {
  flex-grow: 1;
  width: calc(100% - 118px);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.chat-title {
  font-size: 14px;
  color: var(--text-color-secondary);
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding-right: 7px;
}

.message {
  color: var(--text-color-secondary3);
  font-size: 12px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.name {
  font-weight: 500;
  color: var(--text-color-secondary2);
  white-space: nowrap;
  margin-right: 3px;
}

.message-context {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.side-wrapper {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: var(--text-color-secondary2);
  font-weight: 300;
  font-size: 11px;
  white-space: nowrap;
}

.badge {
  min-width: 20px;
  height: 20px;
  color: #fff;
  background-color: #F37060;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 10px;
  padding: 0 4px;
}

</style>

