<template>

  <div class="dialog-wrapper"
       :class="{
	     selected: context.selected,
	     }"
  >
    <avatar></avatar>
    <div class="dialog">
      <header>
        <span class="name">{{ senderName }}</span>
      </header>
      <p :id="context.sender.name + context._id" dir="auto" v-html="rawContentHTML"></p>

      <footer class="chat-footer-wrap">
        <span class="clock">{{ context.date | timeFormat }}</span>
      </footer>
    </div>
  </div>

</template>

<script>
import Avatar from '@/components/general/avatar'
import { mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {

    }
  },
  name: 'messageText',
  components: {Avatar},
  props: {
    context: Object
  },
  computed: {
    ...mapGetters({

    }),
    senderName () {
      if (this.context.sender.name) {
        return this.context.sender.name
      }
    },
    rawContentHTML () {
      try {
        let realText
        // console.log(this.context.content)
        if (this.context && this.context.content) {
          realText     = this.$encodeContent(this.context.content)
          let splitted = this.context.content.split(' ')
          return realText
        }
      } catch (e) {
        alert(e)
      }
    },
  },
  methods: {
    ...mapActions({
    }),
  },
  filters: {
    timeFormat (value) {
      let hours, minutes, date
      date    = new Date(value)
      hours   = Number(date.getHours()) < 10 ? ('0' + Number(date.getHours())) : Number(date.getHours())
      minutes = Number(date.getMinutes()) < 10 ? ('0' + Number(date.getMinutes())) : Number(date.getMinutes())
      return hours + ':' + minutes
    }
  },
  mounted () {

  },
  watch: {

  }
}
</script>

<style scoped>

</style>

