<template>
  <div id="chat-whole-wrapper" class="chat">

    <header class="chat-header">

      <n-link to="/dashboard">
        <div class="back-wrapper">
          <img src="~assets/images/back.svg" alt="back">
        </div>
      </n-link>

      <avatar class="open-chat-avatar"></avatar>

      <div class="header-context">
        <div class="header-context-section">
<!--          <div class="chat-title">-->
<!--            <span>{{ title }}</span>-->
<!--          </div>-->
        </div>
      </div>

    </header>

    <div id="chat-body-container" ref="chatBody" class="chat-body">
      <div v-for="(item, index) in chats" :key="index">

        <div v-if="
				 (index === 0 || item.formattedDate !== chats[index - 1].formattedDate)"
             class="dialog-wrapper date-wrap">
          <div class="date">{{ item.formattedDate }}</div>
        </div>

        <message-text
          v-if="item.type === 'text'"
          :id="item.index + 'message'"
          :class="item.class"
          :context="item"
        ></message-text>

      </div>

    </div>

    <footer v-if="whichFooterToLoad === 'normal'" class="chat-footer">
      <div class="main-section">

        <button class="button attach"></button>

        <div class="textarea-wrapper">
          <div class="textarea"
               dir="auto"
               id="content-editable-textarea"
               :contenteditable="writingAbility"
               ref="content-editable-wrap"
               @keyup="updateCEText"
               @keydown="hidePlaceholder"
               @mouseup="updateCursorPosition"
               @keypress.left.exact.prevent="updateCursorPosition"
               @keypress.right.exact.prevent="updateCursorPosition"
               @[event].enter.exact.prevent="sendText"></div>
          <span class="placeholder" v-if="!text && showPlaceholder">Type a message...</span>
        </div>

        <button class="button send" @click="sendText"></button>

      </div>
    </footer>


  </div>

</template>

<script>
import Avatar from '@/components/general/avatar'
import MessageText from '@/components/dashboard/messageText'
import { mapGetters, mapActions } from 'vuex'
import Vue from 'vue'

export default {
  name: 'chatId',
  components: {
    MessageText,
    Avatar,
  },
  data () {
    return {
      text: '',
      showAttachMenu: false,
      resetTextArea: false,
      chatLoaded: false,
      showPlaceholder: true,
      anchorNode: '',
      event: '',
    }
  },
  middleware (context) {

  },
  asyncData ({store, params, redirect}) {
    if (!params.id) {
      redirect('/dashboard')
    }
  },
  filters: {
    MMSSFormat (counter) {
      counter = counter === '' ? 0 : counter
      let seconds, minutes
      seconds = counter % 60
      minutes = parseInt(counter / 60)
      seconds = seconds < 10 ? '0' + seconds : seconds
      minutes = minutes < 10 ? '0' + minutes : minutes
      return minutes + ':' + seconds
    },
  },
  methods: {
    ...mapActions({
      getChat: 'dashboard/getChat',
      sendTextReq: 'dashboard/sendTextReq'
    }),
    scrollToEnd () {
      let content = this.$refs.chatBody
      if (content) {
        content.scrollTop = content.scrollHeight
      }
    },
    async sendText () {
      if (!this.text) {
        return alert('Please enter text')
      }
      this.sendTextReq(this.text)
        .then(()=>{
          this.text = ''
          this.scrollToEnd()
          this.resetCETextArea()
        })
    },

    closeChat () {
      this.$router.push({name: 'dashboard'})
    },
    handlePasteOnTextarea (e) {
      // cancel paste
      e.preventDefault()
      // get text representation of clipboard
      var text = (e.originalEvent || e).clipboardData.getData('text/plain')
      // document.getElementById('content-editable-textarea').innerText = text
      if (text) {
        this.showPlaceholder = false
        this.text            = text
      }
      // insert text manually
      document.execCommand('insertText', false, text)
    },
    updateCEText () {
      this.text = document.getElementById('content-editable-textarea').innerText
      if (this.text == '\n') {
        this.text                                                      = ''
        document.getElementById('content-editable-textarea').innerText = ''
      }
      this.updateCursorPosition()
    },
    resetCETextArea () {
      this.text = ''
      if (document.getElementById('content-editable-textarea')) {
        document.getElementById('content-editable-textarea').innerText = ''
        // // console.log(' textarea reset shod')
      }
      if (document.getElementById('content-editable-textarea')) {
        document.getElementById('content-editable-textarea').focus()
      }
    },
    updateText (val) {
      this.text = val
    },
    updateCursorPosition () {
      let containerEl   = document.getElementById('content-editable-textarea')
      var precedingChar = '', sel, range, precedingRange
      if (window.getSelection) {
        sel = window.getSelection()
        if (sel.rangeCount > 0) {
          range = sel.getRangeAt(0).cloneRange()
          range.collapse(false)
          range.setStart(containerEl, 0)
          precedingChar = range.toString().slice(-2)
        }
      }
      else if ((sel = document.selection) && sel.type != 'Control') {
        range          = sel.createRange()
        precedingRange = range.duplicate()
        precedingRange.moveToElementText(containerEl)
        precedingRange.setEndPoint('EndToStart', range)
        precedingChar = precedingRange.text.slice(-2)
      }
      document.getElementById('content-editable-textarea').childNodes.forEach((item, index) => {
        if (item === sel.anchorNode) {
          this.anchorNode = index
        }
      })
    },
    hidePlaceholder (e) {
      let keyCode = e.keyCode
      if (document.getElementById('content-editable-textarea').innerText ||
        (keyCode !== 17 &&
          keyCode !== 18 &&
          keyCode !== 13 &&
          keyCode !== 16 &&
          keyCode !== 8 &&
          keyCode !== 9 &&
          keyCode !== 91 &&
          keyCode !== 39 &&
          keyCode !== 46 &&
          keyCode !== 38 &&
          keyCode !== 40 &&
          keyCode !== 37)) {
        this.showPlaceholder = false
      }
    },

  },
  mounted () {
    this.getChat(this.$route.query.id)
  },
  computed: {
    ...mapGetters({
      chats: 'dashboard/chats',
    }),
    isTypingInstance () {
      return false
    },
    whichFooterToLoad () {
      return 'normal'
    },
    writingAbility () {
      return true
    },
  },
  watch: {
    text (val) {
      if (!val || val == '\n') {
        this.showPlaceholder = true
      }
    },
    // counter1 (val) {
    //
    // },
  },
  destroyed () {
    this.text= ''
    this.showAttachMenu= false
    this.resetTextArea= false
    this.chatLoaded= false
    this.showPlaceholder= true
    this.anchorNode= ''
    this.event= ''
  },
  created () {

  },
}
</script>

<style scoped>

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*   header     //////////////////////////////////////////////////////////////////////////////////////////////////*/

.chat-header {
  width: 100%;
  height: 65px;
  /*border-bottom: 1px solid #D9D9D9;*/
  /*border-right: 3px solid #D9D9D9;*/
  background-color: var(--bg-color-secondary);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 0 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.open-chat-avatar.avatar {
  font-size: 16px;
  border-radius: 5px;
}

.header-context {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.header-context-section {
  height: 20px;
  display: flex;
  align-items: center;
}

.chat-title {
  width: 100%;
  font-size: 15px;
  color: var(--text-color-secondary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  left: 0;
}

.chat-title .type {
  font-weight: 700;
  color: #4d96f5;
}

.back-wrapper {
  display: flex;
  align-items: center;
  color: #25BDBE;
  padding: 10px 0;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.back-wrapper img {
  width: 18px;
  margin-right: 10px;
}


/*   Body     ////////////////////////////////////////////////////////////////////////////////////////////////////*/

.chat-body {
  width: 100%;
  /*height: calc(100vh - 173px);*/
  height: 100%;
  overflow-y: scroll;
  /*scroll-behavior: smooth;*/
  -webkit-overflow-scrolling: touch;
  background-color: var(--bg-color-primary);
  padding: 20px 0;
  position: relative;
}

.chat-body .date {
  max-width: 150px;
  color: #fff;
  background-color: #AFAFAF;
  /*border: 1px solid #707070;*/
  border-radius: 100px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 auto;
}

.chat-body::-webkit-scrollbar {
  width: 3px;
}

.chat-body::-webkit-scrollbar-track {
  background: var(--bg-color-secondary2);
}

.chat-body::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary2);
}

.chat-body:hover::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}

.chat:hover .chat-body::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:deep(.dialog-wrapper .avatar) {
  margin-right: 5px;
  border-radius: 6px !important;
  cursor: pointer;
}

:deep(.dialog) {
  max-width: 65%;
  min-width: 75px;
  min-height: 51px;
  padding: 3px 10px 1px;
  background-color: #E2E2E2;
  /*border: 1px solid #ddd;*/
  border-radius: 12px 12px 12px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /*font-weight: 300;*/
}

.darkMode .dialog-wrapper :deep(.dialog) {
  background-color: var(--bg-color-secondary);
}

:deep(.dialog p) {
  text-align: start !important;
  line-height: 1.8;
  white-space: pre-line;
  unicode-bidi: plaintext;
}


:deep(.dialog header) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -4px;
}

:deep(.name) {
  color: #25BDBE;
  font-size: 11px;
  cursor: pointer;
}

/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/
/******************************************************************************************************************/

:deep(.dialog-wrapper) {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
  padding: 5px 20px;
  transition: background-color ease .3s;
}

:deep(.me.dialog-wrapper) {
  flex-direction: row-reverse;
}

:deep(.me.dialog-wrapper .avatar:not(.post-avatar)) {
  display: none;
}

:deep(.more-chats .dialog) {
  border-radius: 12px;
}

:deep(.me .dialog) {
  background-color: #4d96f5 !important;
  color: #fff;
  border-radius: 12px 12px 0 12px;
}

:deep(.me .name) {
  color: #28dbdc;
}

:deep(.clock) {
  color: #A8A8A8;
  font-size: 10px;
  /*align-self: flex-end;*/
  margin-top: auto;
}

:deep(.me .clock) {
  color: #d0d0d0;
}

:deep(.chat-footer-wrap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*   Footer     //////////////////////////////////////////////////////////////////////////////////////////////////*/

.chat-footer {
  width: 100%;
  min-height: 65px;
  /*border-top: 1px solid #D9D9D9;*/
  /*border-right: 3px solid #D9D9D9;*/
  background-color: var(--bg-color-secondary2);
  flex-shrink: 0;
  padding: 11px;

  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.chat-footer .main-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.chat-footer .button {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--bg-color-primary);
  border: 1px solid #C8C8C8;
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.darkMode .chat-footer .button,
.chat-footer :deep(#app) {
  border: none !important;

}

.button.attach {
  background-image: url(~assets/images/attach.svg);
  background-size: 60% !important;
  margin-bottom: 0;
}

.button.send {
  background-image: url(~assets/images/send.svg);
  background-color: #4d96f5;
  background-size: 50%;
  /*border: none;*/
}

:deep(.textarea .labell) {
  color: #2b72cf;
  font-size: 15px;
  cursor: pointer;
}

.textarea-wrapper {
  flex-grow: 1;
  min-height: 42px;
  border-radius: 8px;
  background-color: var(--bg-color-primary);
  margin: 0 10px;
  position: relative;
  padding: 10px 15px;
  position: relative;
  max-height: 188px;
  overflow-y: scroll;
}

.textarea-wrapper .placeholder {
  color: #747474;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea-wrapper .textarea {
  position: relative;
  z-index: 1;
  outline: none !important;
}


.chat-footer textarea {
  height: 42px !important;
  flex-grow: 1;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
  padding: 9px 15px;
  box-shadow: none !important;
  font-size: 15px;
  border: 1px solid #C8C8C8;
}

/*.attach input {*/
/*	display: none;*/
/*}*/

.chat-footer ::-webkit-scrollbar {
  width: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 991px) {
  .chat {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1002;
  }

  .chat-header {
    height: 52px;
    border: none;
    /*background-color: var(--bg-color-secondary);*/
  }

}

@media (max-width: 725px) {

  :deep(.dialog) {
    max-width: 70%;
  }
}

@media (max-width: 425px) {
  .chat-body {
    padding: 10px 0;
  }

  :deep(.dialog-wrapper) {
    padding: 5px 8px;
  }

  :deep(.dialog) {
    max-width: 75%;
  }

}

@media (max-width: 370px) {
  .textarea-wrapper .placeholder {
    font-size: 13px;
    left: 7px;
  }

  .chat-footer .button {
    width: 35px;
  }

  .textarea-wrapper {
    margin: 0 7px;
    padding: 10px 7px;
  }
}

</style>

