<template>
<div>
  <!----------------  header ----------------------->
  <header>
    <div class="profile-header">
      <div class="profile" v-b-toggle.sidebar-1>
<!--        <avatar></avatar>-->
        <h5>
          {{user.name}}
          <span>Click to view & edit your profile</span>
        </h5>
      </div>
    </div>
    <b-sidebar id="sidebar-1" title="My Profile" shadow>
      <div class="sidebar-content px-3 py-2">
        <avatar></avatar>
        <h5 class="text-center mt-3">{{user.name}}</h5>
        <label class="mt-3 w-100">
          <span>Username</span>
          <b-form-input
            placeholder="Your username"
            :value="user.username"
            @input="updateProfileFields({value: $event, key: 'username'})"
          >
          </b-form-input>
        </label>

        <label class="mt-2 w-100">
          <span>Phone Number</span>
          <b-form-input
            placeholder="Your phoneNumber"
            :value="user.phoneNumber"
            @input="updateProfileFields({value: $event, key: 'phoneNumber'})"
          >
          </b-form-input>
        </label>

        <label class="mt-2 w-100">
          <span>Bio</span>
          <b-form-input
            placeholder="Your bio"
            :value="user.bio"
            @input="updateProfileFields({value: $event, key: 'bio'})"
          >
          </b-form-input>
        </label>

        <hr>
        <b-button
          class="mt-2 w-100"
          variant="primary"
          :disabled="disable"
          @click="saveChanges()"
        >
          Save Changes
        </b-button>

      </div>
    </b-sidebar>
  </header>
  <!----------------  main-container ----------------------->
  <div class="main">
    <div class="dashboard-list" :class="/chat\/*/i.test(pageRoute) ? 'height-zero' : ''">

      <div class="search-wrapper">
        <div class="search">
          <input class="search-input" type="search" placeholder="Search" v-model.lazy="text">
        </div>
      </div>

      <div class="scroll-wrapper">
        <div>
          <n-link :to="'/dashboard/chat/' + content.id"
                  v-for="(content, index) in chatList"
                  :key="index"
          >
            <chat-item :content="content"></chat-item>
          </n-link>
        </div>

      </div>

    </div>

    <div class="conversation-wrapper">
      <nuxt-child/>
    </div>

    <b-toast id="dashboard-connection" variant="info" toaster="b-toaster-top-center" no-auto-hide>
      <template #toast-title>Dashboard connection</template>
        disconnect
    </b-toast>
  </div>
</div>
</template>

<script>
import ChatItem from '@/components/dashboard/chatItem'
import Avatar from '@/components/general/avatar'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'index',
  components: {
    ChatItem,
    Avatar
  },
  data() {
    return {
      text: '',
      disable: false
    }
  },
  asyncData(context) {

  },
  methods: {
    ...mapActions({
      getChatList: 'dashboard/getChatList',
      getMyProfile: 'dashboard/getMyProfile',
      updateProfileFields: 'dashboard/updateProfileFields',
      editMyProfile: 'dashboard/editMyProfile',
      resetChat: 'dashboard/resetChat'
    }),
    saveChanges() {
      this.disable = true
      this.editMyProfile(this.user)
        .then(()=>{
          this.disable = false
          alert('your profile update successfully')
        })
        .catch((err)=>{
          this.disable = false
          alert('something went wrong try again')
        })
    }
  },
  mounted() {
    this.getChatList()
    this.getMyProfile()
  },
  watch: {
    text(value) {
      // search in chat list subject
    },

  },
  computed: {
    ...mapGetters({
       chatList: 'dashboard/chatList',
        user: 'dashboard/myProfile'
    }),
    pageRoute() {
      return this.$route.name
    },
  },
}
</script>

<style scoped>

.main {
  width: 100%;
  display: flex;
}

.profile-header {
  height: 65px;
  width: 100%;
  background-color: #4d96f5;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile h5 {
  padding-left: 10px;
}

.profile span {
  display: block;
  font-size: 12px;
  color: #c9e0ff;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.dashboard-list {
  width: 350px;
  height: calc(100vh - 65px);
  flex-shrink: 0;
  background-color: var(--bg-color-primary);
  /*margin-right: 20px;*/
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}


.search-wrapper {
  padding: 10px;
  border-bottom: 1px solid var(--bg-color-secondary2);
  border-right: 3px solid var(--bg-color-secondary2);
  display: flex;
  gap: 8px;
}

.search {
  height: 45px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-color-secondary2);
  border-radius: 8px;

}

.search-input {
  padding: 10px 15px 10px 45px;
  flex-grow: 1;
  border: none;
  background: var(--bg-color-primary) url(~assets/images/magnifier2.svg) 10px center no-repeat;
  background-size: 25px;
  border-radius: 10px 0 0 10px;
}

.sidebar-content /deep/ .avatar {
  font-size: 32px;
  margin: 0 auto;
  display: block;
}

/*//////////////////////*/


.scroll-wrapper {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}


.scroll-wrapper::-webkit-scrollbar {
  width: 3px;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: var(--bg-color-secondary2);
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background: var(--bg-color-secondary2);
}

.scroll-wrapper:hover::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}

.dashboard-list .scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #888;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.conversation-wrapper {
  width: 100%;
  height: calc(100vh - 65px);
  overflow: hidden;
  background-color: var(--bg-color-primary);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 991px) {

  .scroll-wrapper::-webkit-scrollbar {
    width: 0 !important;
  }

  .dashboard-list {
    width: 100%;
    height: calc(100vh - 85px);
  }

  .dashboard-list.height-zero {
    height: 0 !important;
  }

  .search-wrapper {
    border-right-width: 0px;
  }

  .conversation-wrapper {
    width: 0 !important;
    height: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main {
    max-width: calc(100vw - 141px);
  }
}

@media (max-width: 767px) {
  .main {
    /*width: 100vw;*/
    width: unset;
    margin: -33px -30px 0;
  }

  .dashboard-list {
    width: 100%;
    height: calc(100vh - 122px);
  }
}

@media (max-width: 575px) {
  .main {
    margin: -23px -20px 0;
  }
}

@media (max-width: 375px) {
  .main {
    margin: -23px -15px 0;
  }
}

</style>

