<template>
  <div class="welcome-content">
    <h1>
      <b>Hello,</b>
      Welcome to chat project.
    </h1>
    <b-button
      class="d-block mt-5"
      size="lg" variant="primary"
      @click="$router.push('/dashboard')"
    >
      Lets Go
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>

<style>
  .welcome-content {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
