<template>
  <section>
    Please select a chat to start messaging.
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'index',
  mounted (){

  }
}
</script>

<style scoped>

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary2);
}

section p{
  cursor: pointer;
}

</style>

