<template>

  <div class="avatar" :style="{ backgroundImage: `url(${avatarUrl})` }"></div>

</template>

<script>
export default {
  name: "avatar",
  props: {
    avatarUrl: {
      type: String,
      default: 'https://i.pravatar.cc/100'
      // default: ''
    }
  }
}
</script>

<style scoped>

.avatar {
  /*font-size: 14px;*/
  width: 2.5em;
  height: 2.5em;
  border-radius: 8px;
  flex-shrink: 0;
  box-shadow: inset 0 0 .1em rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color-primary);
}

.darkMode .avatar {
  box-shadow: inset 0 0 0.1em rgba(153, 153, 153, 0.5) !important;
}

</style>

